{{!-- components/nav-main --}}
<nav class="nav-main" role="navigation">
	<ul>
		<li><a class="util-icon--before util-icon--fa-var-angle-double-right" href="{{url}}"> {{name}}</a></li>
		<li><a class="util-icon--before util-icon--fa-var-angle-right" href="{{url}}"> {{name}}</a></li>
		<li><a class="util-icon--before util-icon--fa-var-angle-right" href="{{url}}"> {{name}}</a></li>
		<li><a class="util-icon--before util-icon--fa-var-angle-right" href="{{url}}"> {{name}}</a></li>
	</ul>
</nav>
